html,
body {
  padding: 0;
  margin: 0;
  font-family: pangram, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  background-color: #fffafb;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
